.counter {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    text-align: center; 
}

.button {
    padding:10px;
    background-color: darkblue;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;

}
